{{#partial "style" }}
<style>
.pre-scrollable {
	width: 400px;
	margin: 0 auto;
}

.table {
	width: 200px;
	margin: 0 auto;
}

.form-show {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-show .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.submit-button{
	margin-top: 10px;
}
</style>
{{/partial}} 

{{#partial "content" }}
<form class="form-show" action="/matchLotto">
	<div class="form-show-div" class="form-group">
	<h2>지난 주 당첨 번호를 입력</br></h2>예)
			1,2,3,4,5,6,7 (꼭! 7개를 입력해주세요.)</br>7번째는 보너스 번호, lottery입력시 랜덤 생성</br>
			<input type="text" id="inputMoney" class="form-control"
				name="winningNumber" placeholder="1,2,3,4,5,6,7 or lottery" required autofocus>
	</div>
	<div class="submit-button">
		<button class="btn btn-lg btn-primary btn-block" type="submit">당첨 번호</button>
	</div>
</form>
<pre class="pre-scrollable">
	<h4 class="text-center"><{{volume}}개를 구매 하셨습니다></h4>
	<table class="table">
		<thead>
			<th></th>
			<th class="text-center">로또 번호</th>
		</thead>
		<tbody>
		{{#buyLottos}}
		<tr>
			<th>{{@index}}</th>
			<td>{{lottoNumbers}}</td>
		</tr>
		{{/buyLottos}}
		</tbody>
	</table>
</pre>
{{/partial}} 
{{> base}}