{{#partial "style" }}
<style>
.form-lotto {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-lotto .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.submit-button {
	margin-top: 10px;
}
</style>
{{/partial}} {{#partial "content" }}
<div class="container">
	<form class="form-lotto" method="post" action="/buyLotto">
		<h2 class="text-center">로또 게임</h2>
		<div class="input-group">
			<div class="input-group-addon">$</div>
			<input type="number" id="inputMoney" class="form-control"
				name="inputMoney" placeholder="금액 입력" required autofocus>
		</div>
		<div class="submit-button">
			<button class="btn btn-lg btn-primary btn-block" type="submit">로또
				구매</button>
		</div>
	</form>
</div>
{{/partial}} {{> base}}
